body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
}
/* main styles */
.main {
    display: flex;
    flex-direction: row-reverse;
    
    width: 1200px;
    margin: 0 auto;
}
/* main_content */
.main_content {
    background-color: #fff;
    padding-left: 88px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}
/* about_user */
.about_user {
    margin-bottom: 40px;
}

.about_position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 20px;
}

.about_name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin-bottom: 25px;
}

.about_decription {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/* project */
.project {
    margin-bottom: 50px;
}

.project_title,
.education_title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.project_list {
    padding: 0;
    margin: 0px 15px;
}

.project_item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.projects, 
.project_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project_link {
    margin-left: 15px;
}

.project_bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* work */
.work {
    margin-bottom: 43px;
}

.work_position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.organization {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work_list {
    padding: 0;
    margin-left: 15px;
    width: 525px;
}

.work_list_item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* education */
.education {}

.education_position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}

/* sidebar */
.sidebar {
    background-color: #1E2939;
    color:#fff;
    padding-top: 40px;
    width: 375px;
}

.photo {
    width: 375px;
    margin-bottom: 50px;
}

.sidebar_title {
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 8px;
}

.contacts, .tech_skills, .soft_skills {
    margin-left: 40px;
}

.contacts {
    margin-bottom: 50px;
}

.contact_type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 5px;
}

.contact_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #C5CBD2;
}

.skills_list {
padding: 0;
margin-left: 15px;
}

.tech_skills {
    margin-bottom: 44px;
}

.tag_skills_item {
    color: #FB6D3A;
}

.tag_skills_text {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}